@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contacts {
    display: none;
  }
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    line-height: 0;
    fill: #2f2f37;
  }
  .mobile-menu-open-btn:hover,
  .mobile-menu-open-btn:focus {
    fill: var(--active-color);
  }
  .mobile-menu-open-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 72px 24px 40px 16px;
    transform: translatex(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    transform: translateX(0);
  }
  .close-mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
    background-color: transparent;
    line-height: 0;
    width: 24px;
    height: 24px;
    fill: var(--navyblue-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-mobile-menu-btn:focus {
    fill: var(--white);
    background-color: var(--active-color);
    border: none;
  }

  .close-mobile-menu-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-nav {
    margin-bottom: 168px;
  }
  .mobile-menu-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile-menu-list-link {
    color: var(--navyblue-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-list-link:focus {
    color: var(--active-color);
  }

  .mobile-menu-contacts {
    font-style: normal;
  }
  .mobile-menu-contacts-list {
    margin-bottom: 48px;
  }
  .mobile-menu-contacts-list-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .mobile-menu-contacts-info-link {
    color: var(--slate);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-contacts-info-link:focus {
    color: var(--active-color);
  }
  .active-color {
    color: var(--active-color);
  }
  .mobile-menu-social-list {
    display: flex;
    gap: 40px;
  }
  .mobile-menu-soc-list-item {
    width: 40px;
    height: 40px;
  }
  .mobile-menu-soc-list-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-soc-list-link:focus {
    background-color: var(--active-color);
  }
  .mobile-menu-soc-list-icon {
    fill: var(--cloud);
  }
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: var(--navyblue-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ====== TABLET ========= */
@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .nav-link {
    color: var(--navyblue-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--active-color);
  }
  .active-link {
    color: var(--active-color);
    position: relative;
  }
  .active-link::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--active-color);
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
  }

  .contacts {
    font-style: normal;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-info-link {
    color: var(--slate);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-info-link:hover,
  .contacts-info-link:focus {
    color: var(--active-color);
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
  .contacts-info-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
